*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App{

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;


}



.img-container{
  margin-left: 40%;
}


.image{
  margin-bottom: 10rem;
}


.title{
  margin: 3rem 0;
  font-size: 50px;
}